@media (min-width: 768px){
    .center {
        padding: 0 calc(50% - 360px);
    }
    .header {
        height: 100vh;
        background-position: 81% center;
        &__nav {
            display: flex;
            justify-content: space-between;
        }
        &__text {
            margin-top: 5vh;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 32px;
            line-height: 40px;
            &__name{
                font-weight: 600;
                font-size: 48px;
                line-height: 56px;
            }
        }
        &__btn {
            width: 500px;
            height: 60px;
            font-size: 24px;
            line-height: 60px;
        }
    }
 
    .standart_text {
        font-size: 32px;
        line-height: 40px;
        margin-top: 24px;
        margin-bottom: 32px;
    }

    .mobil_text {
        color: #FAF6F6;
        display: flex;
        height: 47px;
        font-weight: 700;
        align-items: center;
        font-size: 25px;
    }

    .logo {
        padding-top: 19px;
    }

    .menu {
        height: 121px;
        &__btn {
            width: 90%;
            max-width: 225px;
            height: 47px;
            background: transparent;
            border-radius: 10px;
        }
        &__list {
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            margin-top: 113px;
        }
       
        &_sidenav_btn {
            margin-top: 19px;
            width: 222px;
            height: 50px;
            margin-right: 131px;
            
        }
        &__mobil__mail {
            display: flex;
            font-size: 32px;
            line-height: 40px;
            align-items: center;
        }
        &__socialmedia {
            width: 40px;
            height: 40px;
        }
    }

    #imgMail {
        display: inline-block;
        padding-right: 15px;
    }

    #openNav {
        font-size: 42px;
        margin-top: 14px;
        width: 40px;
        height: 30px;
        border-radius: 0;
    }

    .sidenav .closebtn {
        padding: 0 calc(50% - 360px);
    }

    .about {
        min-height: 70vh;
        &__h1 {
            width: 554px;
            font-weight: 600;
            font-size: 48px;
            line-height: 56px;
        }
        &__text {
            font-size: 20px;
            line-height: 24px;
            width: 100%;
        }
        &__bgr__big {
            position: relative;
            &__text {
                width: 688px;
            }
        }
        &__bgr {
            position: relative;
            &__img {
                position: absolute;
                top: -264px;
                right: -204px;
                width: 306px;
                height: 306px;
            }
            &__text {
                margin-top: 24px;
                width: 649px;
                flex-direction: row;
                position: relative;
                & p {
                    width: 423px;
                }
            }
        }
        &__endtext {
            margin-top: 24px;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            width: 357px;
            &::before {
                position: absolute;
                top: -11px;
                left: 5px;
            }
            &::after {
                position: absolute;
                top: 37%;
                right: -5px;
            }
        }
    }

    .important {
        min-height: 56vh;
        padding-top: 66px;
        padding-bottom: 66px;
        font-size: 24px;
        line-height: 32px;
        &__ul {
            align-items: center;
            gap: 80px;
            width: 100%;
            &_after {
                width: 100%;
            &:nth-child(2) {
                width: 494px;
                &::after {
                    left: 2%;
                }
            }
            &:nth-child(3) {
                width: 562px;
                &::after {
                    left: 8%;
                }
            }
            &:nth-child(4) {
                width: 539px;
                &::after {
                    left: 6%;
                }
            }
          
            &::after {
                content: url(img/wave_line_tablet.png);
                display: flex;
                align-items: center;
                bottom: -51px;
                left: 17%;
                }
            }
        }
    }

    .help {
        min-height: 58vh;
        font-size: 23px;
        line-height: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__h2 {
            width: 527px;
            font-size: 48px;
            line-height: 56px;
        }
        &__list {
            max-height: 100%;
            flex-wrap: wrap;
            flex-direction: row;
            overflow: visible !important;
            & li {
                width: 311px;
                padding-left: 10px;
                &:nth-child(even) {
                    padding-left: 40px;
                    &::after {
                        left: -1px;
                    }
                }
                &::after{
                    position: absolute;
                    content: '';
                    background: url(img/check_box_24px.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 32px;
                    height: 32px;
                    left: -32px;
                    top: 0;
                }
            }
        }
    }

    .work {
        font-size: 20px;
        line-height: 24px;
        background-position: 52% center;
        &__h2 {
            font-size: 48px;
            line-height: 56px;
            width: 336px;
            padding-bottom: 24px;
            padding-top: 48px;
        }
        &__ol {
            gap: 24px;
            
            padding-bottom: 30px;
            & li::before {
                width: 32px;
                height: 32px;
            }
        }
    }

    .price {
        margin-top: 0;
        &__h2 {
            font-size: 48px;
            line-height: 56px;
            padding-top: 30px;
            padding-bottom: 24px;
        }
        &__top__title {
            font-size: 32px;
            line-height: 40px;
        }
        &__title {
            font-size: 24px;
            line-height: 32px;
        }
        &__content {
            font-size: 20px;
            line-height: 24px;
            width: 334px;
            height: 584px;
            &__conteiner {
                margin-bottom: 8px;
            }
        }
    }

    .mySwiperPrice {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px !important;
        &__slide {
            display: flex;
            width: 340px !important;
            height: 100%;
            margin-right: 10px !important;
            justify-content: flex-start !important;
        }
    }

    .review {
        &__h2 {
            font-size: 48px;
            line-height: 56px;
        }
        &__swiper > div {
            width: 100% !important;
        }
        &__content {
            font-size: 20px;
            line-height: 24px;
            text-align: left;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: [text] auto [last-line];
            grid-template-areas: 
                ". review-text review-text review-text review-text .";
            &::before{
                position: absolute;
                content: '';
                background: url(img/quotes.svg);
                display: block;
                background-size: cover;
                background-repeat: no-repeat;
                width: 53px;
                height: 42px;
                left: 40px;;
                top: 3px;
            }
            &__text {
                grid-area: review-text;
            }
            &__name {
                font-size: 24px;
                line-height: 28px;
                margin-top: 16px;
                padding-bottom: 32px;
            }
        }
    }
    .education {
        &__h2 {
            font-size: 48px;
            line-height: 56px;
            padding-bottom: 24px;
            padding-top: 48px;
        }
        &__container {
            justify-content: flex-start;
            width: 100%;
        }
        &__content {
            width: 334px;
            height: 478px;
        }
    }

    .mySwiperEducation {
        margin-left: auto;
        margin-right: auto;
        & > div {
            display: flex;
            justify-content: center;
        }
        &__slide {
            width: 335px !important;
            margin-right: 30px;
        }
    }

    .form {
        background-position: 29% center;
        &__h2 {
            padding-top: 48px;
            padding-bottom: 24px;
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            width: 663px;
        }
        &__form {
            width: 100%;
        }
        &__control {
            padding-left: 16px;
            font-size: 24px;
            line-height: 32px;
            width: 100%;
            background: transparent;
        }
        &__btn {
            width: 100%;
            font-size: 24px;
        }
        &__checkbox {
            font-size: 24px;
            line-height: 32px;
            &__text {
                width: 606px;
                font-size: 24px;
                line-height: 32px;
            }
            &__privasy {
                font-size: 22px;
                top: 40px;
            }
        }
        &__inputs {
            background: url(img/border_gradient_big.svg);
            background-repeat: no-repeat;
            background-size: 719px;
            height: 57px;
        }
    }

    .footer {
        &__name {
        font-size: 32px;
        line-height: 40px;
        }
        &__p {
            font-size: 20px;
            line-height: 24px;
        }
        &__mail {
            font-size: 24px;
            line-height: 22px;
            display: flex;
            gap: 15px;
            justify-content: center;
            &__img {
                height: 30px;
            }
        }
        &__socialmedia {
            display: flex;
            gap: 35px;
            justify-content: center;
            width: 90vw;
            &__links {
                width: 40px;
                height: 40px;
            }
        }
        &__personaldata {
            font-size: 20px;
            line-height: 24px;
        }
        &__up{
        width: 32px;
        }
    }

    #form__thanks {
        width: 90vw;
        font-size: 32px;
        line-height: 40px;
        gap: 40px;
    }

    .form__thanks_p {
        width: 282px;
    }

    #application_id {
        width: 472px;
        height: 510px;
    }

    .privacy {
        font-size: 20px;
        &_closebtn {
            font-size: 32px;
        }
        &__h1 {
            font-size: 32px;
        }
        &__h2 {
            font-size: 30px;
        }
        &__block {
            padding: 15px 0;
        }
        &__down{
            right: -60px;
            position: absolute;
        }

    }

    #button__tablet {
        margin: 0;
    }

    .show_desctop {
        display: none;
    }

    .show_tablet {
        display: inline-block;
    }

    .hide_mobil {
        display: none !important;
    }

    .hide_nomobil {
        display: block;
    }

    .hide_tablet {
        display: none !important;
    }

    .hide_onlyonmobil {
        display: block !important;
    }

    .hide_desctop {
        display: block;
    }
}
@media (min-width: 1000px){
    .center {
        padding: 0 calc(50% - 453px);
    }

    .review__content {
        margin-bottom: 50px;
    }

    .help {
        &__h2 {
            width: 800px;
            margin-top: 50px;
        }
        &__list {
            display: grid;
            grid-template-columns: [left] 50% [right] 50% [end];
            grid-template-rows: [one] 50px [two] 50px [three] 50px [four] 80px [five] 90px [six] 150px [last-line];
        }
    }

    .form__inputs {
        background-size: 100%;
        height: 75px;
        background-position-y: center;
        display: flex;
        align-items: center;
    }

    .sidenav .closebtn {
        padding: 0 calc(50% - 453px);
    }
}